# Default values for galaxy-stable.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
galaxy:
  init:
    image:
      repository: "{{ galaxy_init_image }}"
      tag: "{{ galaxy_image_tag }}"
      pullPolicy: IfNotPresent
    resources: {}
  backend:
    postgres: true
  image:
    repository: "{{ galaxy_image }}"
    tag: "{{ galaxy_image_tag }}"
    pullPolicy: IfNotPresent
# Probably not needed as all on /export
# tools:
#    destination: "/export/tools"
  destinations_default: "k8s"
  k8s:
    supp_groups: 0
    fs_group: 0
  admin:
    email: "{{ galaxy_admin_email }}"
    password: "{{ galaxy_admin_password }}"
    api_key: "{{ galaxy_api_key }}"
    username: admin
    allow_user_creation: "False"
#  smtp:
#    server:
#    username:
#    password:
#    email_from:
#    ssl:
  ftp:
    url: "{{ ansible_ssh_host }}:{{ proftpd_port }}"
  instance_resource_url: "{{ hostname }}.{{ domain }}"
  internal_port: 80
  node_port_exposed: 30700
  create_pvc: false
  pvc:
    name: "{{ galaxy_pvc }}"
    capacity: "15Gi"
    # subPath:
# development_folder:
service:
  type: NodePort
external_ingress_controller: true
ingress:
  hostname: "{{ hostname }}"
  domain: "{{ domain }}"
  enabled: true
  # Used to create Ingress record (should used with service.type: ClusterIP).
  annotations:
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  tls:
    # Secrets must be manually created in the namespace.
    # - secretName: chart-example-tls
    #   hosts:
    #     - chart-example.local
resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: "{{ galaxy_res_limits_cpu }}"
    memory: "{{ galaxy_res_limits_memory }}"
  requests:
    cpu: "{{ galaxy_res_requests_cpu }}"
    memory: "{{ galaxy_res_requests_memory }}"
postgres_for_galaxy:
  db_password: "{{ galaxy_admin_password }}"
  postgres_pvc: "{{ postgres_pvc }}"
  subpath: "postgres"
  postgres_image: "container-registry.phenomenal-h2020.eu/phnmnl/galaxy-postgres"
  postgres_image_tag: ":9.6.5_for_18.01"
proftpd:
  generate_ssh_key: true
  image:
    repository: "{{ proftpd_image }}"
    tag: "{{ proftpd_image_tag }}"
legacy:
  pre_k8s_16: false
